      <p-tabs value="tab1">
            <p-tablist>
                <p-tab value="tab1">Account Info</p-tab>
                <p-tab value="tab2">Payment</p-tab>
                <p-tab value="tab3">Preferences</p-tab>
            </p-tablist>
            <p-tabpanels>
                <p-tabpanel value="tab1">
                    <h2 class="text-lg font-bold">Account Info</h2>
                    <p class="text-surface-500 mt-1">Update your personal information such as name, email address, and profile picture.</p>
                </p-tabpanel>
                <p-tabpanel value="tab2">
                    <h2 class="text-lg font-bold">Payment</h2>
                    <p class="text-surface-500 mt-1">Manage your subscription plan, view invoices, and update your payment method.</p>
                </p-tabpanel>
                <p-tabpanel value="tab3">
                    <h2 class="text-lg font-bold">Preferences</h2>
                    <p class="text-surface-500 mt-1">Customize how the application looks and behaves to match your personal preferences.</p>
                    <input type="file" accept="image/*" (change)="fileChangeEvent($event)">
    
    <div style="display: flex;">
        
        <div style="width: 500px;">
            <image-cropper
                [imageFile]="file"
                [maintainAspectRatio]="false" 
                format="png"
            ></image-cropper>
        </div>

    </div>
                </p-tabpanel>
            </p-tabpanels>
        </p-tabs>



<!--
@if (imgSrc) {
    <div class="new-profile-image-container">
        <h2 class="new-profile-image-title">
            Profilbild erstellen
        </h2>
        <div class="cropper-wrapper">
            <div class="cropper-container" 
                [style.width.px]="containerWidth"
                [style.height.px]="containerHeight"
                (mousedown)="onDragStart($event)" 
                (touchstart)="onDragStart($event)"
                (wheel)="onWheel($event)"
                [style.cursor]="isDragging ? 'grabbing' : 'grab'"
            >
                <img 
                    #sourceImage 
                    [src]="imgSrc" 
                    crossorigin="anonymous"
                    class="cropper-image" 
                    (load)="onImageLoad($event)"
                    [style.visibility]="naturalWidth ? 'visible' : 'hidden'"
                    [style.width.px]="naturalWidth ? naturalWidth : null"
                    [style.height.px]="naturalHeight ? naturalHeight : null"
                    [style.transform]="'translate(-50%, -50%) translate(' + x + 'px, ' + y + 'px) scale(' + scale + ') rotate(' + rotation + 'deg)'">
                <div class="cropper-mask-hole"></div>
            </div>
        </div>
        <div class="cropper-controls">
            <i class="fa-solid fa-rotate-right"
            (click)="rotateImage()"></i>
            <div class="cropper-zoom-controls">
                <i class="fa-solid fa-magnifying-glass-minus"
                (click)="deltaZoom(-baseScale / 10)"></i>
                <input type="range"
                [min]="baseScale"
                [max]="baseScale * 3"
                [step]="(2 * baseScale) / 100"
                [value]="scale"
                (input)="onSliderChange($event)"/>
                <i class="fa-solid fa-magnifying-glass-plus"
                (click)="deltaZoom(baseScale / 10)"></i>
            </div>
            <button class="action-btn primary" 
                    (click)="cropImage()">
                Abbrechen
            </button>
            <button class="action-btn primary" 
                    (click)="cropImage()">
                Speichern
            </button>
        </div>
    </div>

    @if (croppedResult) {
        <div class="result-container">
            <h3>
                Ergebnis (320x320 Pixel)
            </h3>
            <img class="result-image"
                [src]="croppedResult">
        </div>
    }
}-->