.sidebar-item {
  border: 1px solid black;
}

.timeline-wrapper {
  padding: 20px;
}

::ng-deep .vis-item {
  height: 24px;
  background-color: rgb(114, 220, 255);
  border-color: gray;
  color: black;
}

::ng-deep .vis-group.no-bookings-parent,
::ng-deep .vis-label.no-bookings-parent {
  background-color: #f3f4f6; 
}

::ng-deep .small-time-slots .vis-time-axis .vis-text {
  padding: 0;
  writing-mode: sideways-lr; 
  text-align: center;
  font-size: 17px;
  height: 52px; 
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
}

::ng-deep .vis-label {
  &::before {
    padding-left: 3px;
    transform: translateY(-4px);
  }
  .vis-inner {
    align-content: center;
    height: 30px;
    padding-left: 8px !important;
    transform: translateY(-4px);
  }
}

::ng-deep .vis-item-content {
  position: relative;
  top: -3px;
  display: flex;
  align-items: center;
  height: 100%;
  padding: 0 5px !important;
}

::ng-deep .vis-panel {
  font-size: 16px;
}