<card-template-component></card-template-component>

<div class="grid">
  <div class="col-4">
    <div class="sidebar">
      @if (isEditable) {
        @for (card of editableCards; track card.cardType) {
          <div class="grid-stack-item sidebar-item"
            [hidden]="card.enabled"
            [attr.data-gs-widget]="{ 
              id: card.cardType, 
              w: card.width, 
              h: 10, 
              noResize: !card.resizeable,
              selector:'widget-card',
              input: {
                templateType: card.hideOnEmpty ? 'placeholder' : card.cardType
              },
              isEditable: true,
              card
            } | json">
            <div class="grid-stack-item-content">
              <div class="my-preview-box">Neues Widget (2x2)</div>
            </div>    
          </div>        
        }
      }
      <button (click)="toggleEdit()">Toggle Edit {{ isEditable }}</button>
      <button (click)="widgetService.save()">Save</button>
      <button (click)="widgetService.restore()">Restore</button>
      <p-checkbox [(ngModel)]="isUsingDefault" (onChange)="widgetService.useDefault($event.checked)"  [binary]="true" [disabled]="editableCards === null" />
    </div>
  </div>
  <div class="col-8">
    <div class="timeline-wrapper">
      <h2>Meine Vis-Timeline</h2>
      <div #timelineContainer></div>
    </div>
    <div class="relative">
      <div class="absolute inset-0 bg-white"></div>
      <gridstack [options]="gridOptions" class="opacity-70">
        <div empty-content>message when grid is empty</div>
      </gridstack>
      <div class="absolute top-0 right-0 m-2">
        <i class="fa-solid fa-lock text-[var(--p-button-text-warn-color)]"></i>
      </div>
      <p-card header="Standard-Dashboard wird verwendet"
              styleClass="inline-block absolute top-1/2 left-1/2 -translate-y-1/2 -translate-x-1/2 border-2 border-[var(--p-content-border-color)] shadow-6">
        <div class="col-12">
          <span class="inline-flex max-w-[20px] items-center justify-center  w-5 h-5 rounded-full shadow-[inset_0_0_0_1.5px_var(--p-button-text-info-color)]">
            <i class="fa-solid fa-info text-[10px] text-[var(--p-button-text-info-color)]"></i>
          </span>
          <span class="font-medium text-color text-left">
            Das Standard-Layout ist schreibgeschützt.
          </span>
        </div>
        <div class="col-12">
          <p-button label="Als eigenes Dashboard importieren" 
                    icon="fa-solid fa-copy" 
                    severity="secondary"
                    fluid="true" 
                    styleClass="p-button-sm p-button-raised"
                    (onClick)="widgetService.save()">
          </p-button>
          <span class="block mt-2 max-w-sm text-xs text-[var(--p-text-muted-color)] leading-none">
            <i class="fa-solid fa-exclamation text-xs mr-1 text-[var(--p-button-text-warn-color)]"></i>
            <span>Das eigene Dashboard wird dabei überschrieben. Erst durch Klicken auf „Speichern“ wird die Änderung dauerhaft übernommen.</span>
          </span>
        </div>
      </p-card>
    </div>
  </div>
</div>