.sidebar-item {
  border: 1px solid black;
}


.timeline-wrapper {
  padding: 20px;
}

/* Optional: Eigene Anpassung der Timeline-Items */
.vis-item {
  background-color: #e0f2fe;
  border-color: #38bdf8;
  color: #0369a1;
}