<card-template-component></card-template-component>

<div class="grid">
<div class="col-4">
  <div class="sidebar">
    @if (isEditable) {
      @for (card of editableCards; track card.cardType) {
        <div class="grid-stack-item sidebar-item"
          [hidden]="card.enabled"
          [attr.data-gs-widget]="{ 
            id: card.cardType, 
            w: card.width, 
            h: 10, 
            noResize: !card.resizeable,
            selector:'widget-card',
            input: {
              templateType: card.hideOnEmpty ? 'placeholder' : card.cardType
            },
            isEditable: true,
            card
          } | json">
          <div class="grid-stack-item-content">
            <div class="my-preview-box">Neues Widget (2x2)</div>
          </div>    
        </div>        
      }
    }
    <button (click)="toggleEdit()">Toggle Edit {{ isEditable }}</button>
    <button (click)="widgetService.save()">Save</button>
    <button (click)="widgetService.restore()">Restore</button>
    <p-checkbox [(ngModel)]="isUsingDefault" (onChange)="widgetService.useDefault($event.checked)"  [binary]="true" [disabled]="editableCards === null" />
  </div>
</div>
<div class="col-8">
<gridstack [options]="gridOptions">
  <div empty-content>message when grid is empty</div>
</gridstack>
</div>
</div>